.collectionsWrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
}

.containers{
    display: flex;
    flex-direction: column;
}

.innerContainer{
    display: flex;
    flex-direction: column;
}