.collectionsWrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:50px;
}



.imageContainerWrap{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.innerImageContainer{
    cursor: pointer;
}
